@use '../abstracts' as *;

.initial-page {
    width: 100vw;
    height: 100vh;
    @include centerInner();
}

.input-validation {
    @include input-style(90%, 30px);

    &[data-valid=false]  {
		@include outline($error-coler);
	}

    &:focus {
		&[data-valid=false]  {
			@include outline($error-coler);
		}
		&[data-valid=true]  {
			@include outline(green);
		}
	}
}

.error-message {
	font-size: 13px;
	margin: 4px 0;
	height: 16px;
}