@import '../abstracts/mixins';

.landing-page  {
    background-color: lightblue;
    width: 100vw;
    height: 100vh;

    display: flex;
  }

  .login-card {
    @include card;

    background: lightcoral;
    width: 400px;
    height: 500px;
    margin: auto;
  }

  .login {
    @include button(blue, fit-content, fit-content);
    padding: 4px 8px;
  }