@use '../abstracts' as *;

.landing-page  {
    background-color: $backgroud;
    width: 100vw;
    height: 100vh;
    display: flex;
}

  .login {
    color: $dark-text-color;
    @include button(fit-content, fit-content, primary);
    padding: 4px 8px;
}
  
  .login-template {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $dark-text-color;
    @include card-style($card-color, 400px, 500px);
}

  .nav-bar {
    background-color: $nav;
    width: 100%;
    height: 6vh;
}