@use '../abstracts' as *;

.modal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    backdrop-filter: brightness(0.7);
    @include centerInner();
}

.modal-new-project {
    @include center-vertically();
    @include card-style($card-color, 400px, 250px);
    @include card("regular");
    color: $dark-text-color;
}

.modal-card-details {
    @include card-style($card-color, 400px, 450px);
    @include card("regular");
    color: $dark-text-color;
}

.modal-card-details-section {
    display: flex;
    min-height: 80px;

    h4 {
        margin: 4px 16px auto 16px;
        min-width: 90px;
    }

    input {
        @include input-style(null, 30px);
        background-color: transparent;
        flex: 1;
        font-size: 16px;
        line-height: 16px;
        margin: 8px;
        padding: 0 2px;
        cursor: pointer;
    
        &:focus {
            cursor: text;
            background-color: $backgroud;
            &[data-valid=false]  {
                @include outline($error-color);
            }
            &[data-valid=true]  {
                @include outline($valid-color);
            }
        }
    }
}