@use '../abstracts' as *;

.modal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    backdrop-filter: brightness(0.7);
    @include centerInner();
}

.modal-new-project {
    @include center-vertically();
    @include card-style($card-color, 400px, 250px);
    @include card("regular");
    color: $dark-text-color;
}