@use "sass:map";
@use 'variables' as v;

@mixin card {
    border-radius: 6px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
};

@mixin button-theme($theme-color) {
    @if $theme-color == "primary" {
        background-color: map.get(v.$primary-button, "regular");
        &:hover {
            background-color: map.get(v.$primary-button, "hover");;
        }
    } @else if $theme-color == "action" {
        background-color: map.get(v.$action-button, "regular");
        &:hover {
            background-color: map.get(v.$action-button, "hover");;
        }
    }
}

@mixin card-style($color, $width, $height) {
    background-color: $color;
    width: $width;
    height: $height;
    @include card();
};

@mixin button ($width, $height, $theme-color) {
    border-radius: 6px;
    width: $width;
    height: $height;
    
    &:hover {
        cursor: pointer;
    }

    @include button-theme($theme-color)
}

@mixin centerInner {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

@mixin outline($color) {
    box-shadow: 0 0 0px 2px $color;
}

@mixin input-style($width, $height) {
    width: $width;
    height: $height;
    border: none;
    outline: none;
    border-radius: 6px;
}