$text-color: #fdfffc;
$dark-text-color: #293241;
$backgroud: #edf2fb;
$nav: #3d5a80;
$card-color: #fff1e6;
$valid-color: #43aa8b;
$error-color: #d62828;

$primary-button: ("regular": #abc4ff, "hover": #ccdbfd);