$text-color: #fdfffc;
$dark-text-color: #293241;
$backgroud: #edf2fb;
$nav: #3d5a80;
$card-color: #f4f3f2;
$valid-color: #c8d8e8;
$error-color: #d62828;
$yellow-color: #ffdd00;

$primary-button: ("regular": #abc4ff, "hover": #ccdbfd);
$action-button: ("regular": #305bde, "hover": #4169e1);

$icon-button: ("regular": #6c757d,"regular-hover": #495057, "hover": #e5e5e5);

$card-shadow: (
    "light": (0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24)),
    "regular": (0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23)),
    "heavy": (0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22)),
);

$new-tile: ("regular": #f4f3f2, "hover": #fbfffe);
$card-tile: ("regular": #fbfffe, "hover": #eff1f3);