$text-color: #fdfffc;
$dark-text-color: #293241;
$backgroud: #edf2fb;
$nav: #3d5a80;
$card-color: #f4f3f2;
$valid-color: #c8d8e8;
$error-color: #d62828;

$primary-button: ("regular": #abc4ff, "hover": #ccdbfd);
$action-button: ("regular": #305bde, "hover": #4169e1);